@model IEnumerable<AutoCar.Car>

@{
    ViewData["Title"] = "Car Listings";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Car</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => car.Brand.name)</td> <!-- Displaying Brand Name -->
                    <td>@Html.DisplayFor(modelItem => car.Model)</td>
                    <td>@Html.DisplayFor(modelItem => car.Year)</td>
                    <td>@Html.DisplayFor(modelItem => car.Price)</td>
                    <td>@Html.DisplayFor(modelItem => car.Description)</td>
                    <td>@Html.DisplayFor(modelItem => car.Category.Name)</td> <!-- Displaying Category Name -->
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@car.CarId">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@car.CarId">
                            <i class="bi bi-eye"></i> Details
                        </a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@car.CarId" onclick="return confirm('Are you sure you want to delete this car?');">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
